@font-face {
    font-family: 'Library-3-AM';
    src: url(../fonts/library-3-am.woff2) format('woff2');
}

@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url(../fonts/m-plus-rounded-1c.woff2) format('woff2');
}