body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

.head {
    background-color: #3e37a6;
    height: 136px;
    display: flex;
    justify-content: space-around;
}

.head_text__lines {
    background-image: url(assets/icons/lines_under_logo_title.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8px;
    width: 380px;
    margin: auto;
}

.head_text_link {
    margin-top: 28px;
}

.logo_block {
    display: flex;
    justify-content: center;
    width: 310px;
}

.head_feedback_link {
    display: flex;
    align-items: center;
    width: 310px;
}

.head_text {
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
    color: white;
}

.head_text span {
    display: block;
}

.head_feedback {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 20px;
}

.head_feedback span {
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.head_menu {
    background-color: #c4d6f1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 40vw;
}

.menu a {
    color: black;
    transition: all 0.2s;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {
    box-shadow: 0px 1px 0px 0px rgb(0, 0, 0);
}

.about {
    background-image: url(assets/icons/about_back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_title {
    margin-top: 85px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #090274;
}

.about_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.about_leftpart_img {
    width: 475px;
    height: 442px;
}

.about_rightpart {
    width: 50%;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

.about_rightpart_text_begin {
    color: #090274;
}

.scinceproblem {
    background-image: url(assets/icons/scienceproblem_back.svg);
    background-color: #5f58c4;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    box-sizing: border-box;
}

.scinceproblem_title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
}

.scinceproblem_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.scinceproblem_leftpart {
    width: 50%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: white;
    text-shadow: 0px 4px 4px rgba(84, 83, 83, 0.25);
}

.scinceproblem_rightpart_img {
    width: 475px;
    height: 442px;
}

.edition {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.edition_title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    color: #090274;
}

.editor_block {
    margin-top: 53px;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.editor_img {
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    background: #7a7a7a;
}

.editor {
    width: 70%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.editor_blue {
    color: #090274;
    font-size: 28px;
}

.partners {
    background-color: #201c58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners_title {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 120px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.line1 {
    width: 400px;
    height: 0;
    padding: 0;
    border: none;
    border-top: 3px solid #ffffff;
}

.partners_main {
    margin-top: 100px;
    margin-bottom: 7%;
    margin-left: 26%;
    margin-right: 26%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 490px;
}

.partner_block {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.partner {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
}

.partner_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #7a7a7a;
}

footer {
    border-top: 7px solid #ffffff;
    padding: 10px 0;
    background-color: #201c58;
    box-sizing: border-box;
}

.footer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    width: 310px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.footer_links_text {
    text-align: right;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
}
.footer_links_text1 {
    margin-top: 10px;
    text-align: right;
}
