body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

header {
    width: 100%;
}

.head {
    background-color: #3e37a6;
    height: 136px;

    display: flex;
    justify-content: space-around;
}

.logo_block {
    display: flex;
    justify-content: center;
}

.head_feedback_link,
.logo_block {
    width: 310px;
}

.head_text {
    margin-top: 28px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
}

.head_text span {
    display: block;
}

.head_feedback {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 233px;
    height: 58px;
    margin-top: 40px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;

    border: 3px solid #ffffff;
    border-radius: 20px;
}

.head_feedback span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.head_menu {
    background-color: #c4d6f1;
    height: 68px;
}

.menu {
    margin-top: 0px;
    position: relative;
    top: 24px;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color: black;
    text-align: center;
    padding: 10px 35px;
    transition: all 0.2s;
}

.menu a:hover {
    border-bottom: 1px solid black;
}

.authors {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authors_title {
    margin-top: 53px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    top: 80px;

    color: #090274;
}

.authors_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.authors_leftpart_img {
    width: 475px;
    height: 442px;
}

.authors_rightpart {
    width: 50%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authors_rightpart span {
    display: block;
}

.authors_requirements {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    text-align: center;

    color: #090274;
}

.authors_requirements span {
    display: block;
}

.authors_icons {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.icon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.icon_img {
    width: 130px;
    height: 130px;
}

.icon_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #090274;
}

footer {
    border-top: 7px solid #ffffff;
}

.footer {
    background-color: #201c58;
    height: 136px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    margin-top: 40px;
    width: 310px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ffffff;
}

.footer_links_text {
    text-align: right;
}
.footer_links_text1 {
    margin-top: 5%;
    text-align: right;
}
