.contacts {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts_title {
    margin-top: 53px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #090274;
}

.contacts_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 91px;
}

.contacts_leftpart {
    width: 454px;
    height: 609px;
    background: #201c58;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

.contacts_leftpart_title {
    text-align: center;
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
}

.contacts_info {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contacts_number_messenger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
}

.contacts_number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.contacts_messengers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contacts_phone_mail {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.contacts_rightpart {
    width: 909px;
    height: 609px;
    background: #201c58;
    border-radius: 80px;
}

.contacts_rightpart_main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 110px;
}

.twosegmentblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 309px;
}

.twosegment input {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 8px 0;
    background-color: #201c58;
    border-bottom: 1px solid #ffffff;
}

.twosegment input:focus {
    outline: none;
}

.onesegment input {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    padding: 8px 0;
    background-color: #201c58;
    color: rgba(255, 255, 255, 0.5);
    width: 700px;
    border-bottom: 1px solid #ffffff;
}

.onesegment input:focus {
    outline: none;
}

.sendbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 95px;
    gap: 10px;
    background: #ffffff;
    border-radius: 80px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #090274;
    cursor: pointer;
}
